body {
  background-color: $light-grey;
}

#map {
  height: 500px;
  margin: 10px auto;
  box-shadow: $box-shadow;
  border-radius: $rounded;
}

.container {
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 75px;
}

ul {
  padding: 0;
}

h3 {
  font-family: $raleway;
}

p {
  font-family: $lato;
}

.place-visited {
  margin: 10px 0;
  list-style: none;
  width: 100%;
  box-shadow: $box-shadow;
  padding: 10px 0;
  border-radius: $rounded;
  background-color: white;
}

.list-item {
  margin: 0;
  padding: 10px;
}

