body {
  background-color: $turquoise;
}

#map {
  height: 500px;
  margin: 10px auto;
  box-shadow: $box-shadow;
  border-radius: $rounded;
}

.container {
  padding: 20px 0;
  width: 50%;
  margin: 0 auto;
}

header {
  display: flex;
  justify-content: space-between;
}

.logo {
  height: 75px;
}

#city-list {
  padding: 0;
}

h3 {
  font-family: $raleway;
}

p {
  font-family: $lato;
}

.place-visited {
  margin: 10px 0;
  list-style: none;
  width: 100%;
  box-shadow: $box-shadow;
  padding: 10px 0;
  border-radius: $rounded;
  background-color: white;
}

.list-item {
  margin: 0;
  padding: 10px;
}

button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: $light-grey;
  font-family: $raleway;
  border: none;
  border-radius: $rounded;

  &:hover {
    background-color: $dark-grey;
    transition: 200ms;
  }

  &:focus {
    outline: none;
  }
}

#location-form {
  margin-top: 15px;
  display: none;
  box-shadow: $box-shadow;
  border-radius: $rounded;
  background-color: white;
  font-family: $raleway;
  padding: 20px;

  .form-container {
    width: 80%;
    margin: 0 auto;
  }

  h3 {
    text-align: center;
  }

  div {
    margin: 10px;
  }

  label {
    display: block;
    padding: 20px 0 5px;
  }

  input {
    width: 100%;
    border: none;
    border-bottom: 2px solid $light-grey;
    height: 30px;
    font-size: 24px;
    color: $dark-grey;
    font-family: $lato;
    &:focus {
      outline: none;
    }
  }
}

