<!DOCTYPE html>
<html>
<head>
  <title>Dashboard</title>
  <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
  <link href="https://fonts.googleapis.com/css?family=Lato|Raleway" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/styles/application.css">
</head>
<body>

  <div class='container'>
    <header>
      <img class='logo' src='<%= user.profilePhoto %>'>
      <p class='username'><%= user.firstName + ' ' + user.lastName %>
      </p>
    </header>
    <div id='map'></div>
    <button id='display-switch'>Switch Display</button>
    <ul id='city-list'>
      <li class='place-visited'>
        <h3 class='list-item'>City, Country</h3>
        <p class='list-item'>This is hardcoded for testing purposes</p>
      </li>
      <li class='place-visited'>
        <h3 class='list-item'>City, Country</h3>
        <p class='list-item'>This is hardcoded for testing purposes</p>
      </li>
      <li class='place-visited'>
        <h3 class='list-item'>City, Country</h3>
        <p class='list-item'>This is hardcoded for testing purposes</p>
      </li>
    </ul>
    <form id='location-form' action='/locations/<%= user.id %>' method='post'>
      <h3>Add a Location</h3>
      <div class='form-container'>
        <div>
          <label>City</label>
          <input name='city' id='city'>
        </div>
        <div>
          <label>Country</label>
          <input name='country' id='country'>
        </div>
        <div>
          <label>Longitude</label>
          <input name='long' id='long'>
        </div>
        <div>
          <label>Latitude</label>
          <input name='lat' id='lat'>
        </div>
        <div>
          <input type='hidden' name='id' value= '<%= user.id %>'>
        <button type='submit'>Submit</button>
      </div>
    </form>

  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="/js/main.js" type="text/javascript"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBV06Rqe2o_LP8qqrSeusRqs2VSNxAFMrU"></script>
</body>
</html>

