/* FONT VARIABLES */
/* CARD STYLE VARIABLES */
/* COLOR VARIABLES */
button {
  display: block;
  margin: 20px auto;
  padding: 10px 30px;
  background-color: #c2c1c2;
  font-family: "Raleway", sans-serif;
  border: none;
  border-radius: 2px; }
  button:hover {
    background-color: #595f72;
    transition: 200ms; }
  button:focus {
    outline: none; }

.loginBtn {
  box-sizing: border-box;
  position: relative;
  /* width: 13em;  - apply for fixed size */
  margin: 0.2em;
  padding: 0 15px 0 46px;
  border: none;
  text-align: left;
  line-height: 34px;
  white-space: nowrap;
  border-radius: 0.2em;
  font-size: 16px;
  color: #FFF; }

.loginBtn:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  width: 34px;
  height: 100%; }

.loginBtn:focus {
  outline: none; }

.loginBtn:active {
  box-shadow: inset 0 0 0 32px rgba(0, 0, 0, 0.1); }

/* Facebook */
.loginBtn--facebook {
  margin: 0 auto;
  background-color: #4C69BA;
  background-image: linear-gradient(#4C69BA, #3B55A0);
  /*font-family: "Helvetica neue", Helvetica Neue, Helvetica, Arial, sans-serif;*/
  text-shadow: 0 -1px 0 #354C8C; }

.loginBtn--facebook:before {
  border-right: #364e92 1px solid;
  background: url("https://s3-us-west-2.amazonaws.com/s.cdpn.io/14082/icon_facebook.png") 6px 6px no-repeat; }

.loginBtn--facebook:hover,
.loginBtn--facebook:focus {
  background-color: #5B7BD5;
  background-image: linear-gradient(#5B7BD5, #4864B1); }

body {
  background-color: #c2f970; }
  body .index-header {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px; }
    @media only screen and (max-width: 900px) {
      body .index-header {
        width: 75%; } }
    @media only screen and (max-width: 600px) {
      body .index-header {
        width: 100%; } }
    body .index-header h1, body .index-header h3 {
      flex: 1;
      direction: column;
      margin: 0;
      padding: 0; }
    body .index-header h1 {
      text-shadow: 1px 3px 3px #595f72;
      font-size: 75px; }
  body .container {
    padding: 20px 0;
    width: 50%;
    margin: 0 auto; }
    @media only screen and (max-width: 900px) {
      body .container {
        width: 75%; } }
    @media only screen and (max-width: 600px) {
      body .container {
        width: 100%; } }
    body .container .dashboard-header {
      position: relative;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      body .container .dashboard-header .logo {
        height: 100px; }
      body .container .dashboard-header .title-wrap {
        display: flex;
        width: 300px;
        position: absolute;
        top: 25px;
        left: 100px; }
        body .container .dashboard-header .title-wrap h1, body .container .dashboard-header .title-wrap h3 {
          flex: 1;
          direction: column;
          margin: 0;
          padding: 0;
          position: absolute; }
        body .container .dashboard-header .title-wrap h1 {
          text-shadow: 1px 3px 3px #595f72;
          left: 5px;
          top: 0; }
        body .container .dashboard-header .title-wrap h3 {
          left: 5px;
          top: 34px; }
      body .container .dashboard-header .login-info {
        display: flex;
        align-items: center;
        justify-content: space-between; }
        body .container .dashboard-header .login-info .profile-pic {
          border-radius: 100%;
          height: 40px;
          margin-left: 10px; }
        body .container .dashboard-header .login-info .username {
          text-align: right; }
          body .container .dashboard-header .login-info .username a {
            text-decoration: none;
            color: #595f72;
            transition: color 150ms; }
            body .container .dashboard-header .login-info .username a:hover {
              color: #c2c1c2; }
    body .container #map {
      height: 500px;
      margin: 10px auto;
      box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
      border-radius: 2px; }
    body .container #city-list {
      padding: 0; }

#location-form {
  margin-top: 15px;
  display: none;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  border-radius: 2px;
  background-color: white;
  font-family: "Raleway", sans-serif;
  padding: 20px; }
  #location-form .form-container {
    width: 80%;
    margin: 0 auto; }
  #location-form h3 {
    text-align: center; }
  #location-form div {
    margin: 10px; }
  #location-form label {
    display: block;
    padding: 20px 0 5px; }
  #location-form input {
    width: 100%;
    border: none;
    border-bottom: 2px solid #c2c1c2;
    height: 30px;
    font-size: 24px;
    color: #595f72;
    font-family: "Lato", sans-serif; }
    #location-form input:focus {
      outline: none; }

h3 {
  font-family: "Raleway", sans-serif; }

p {
  font-family: "Lato", sans-serif; }

.place-visited {
  display: flex;
  justify-content: space-between;
  margin: 10px 0;
  list-style: none;
  width: 100%;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 10px 0;
  border-radius: 2px;
  background-color: white; }
  .place-visited button {
    padding: 5px;
    height: 40px;
    width: 40px;
    margin: 0 10px; }
    .place-visited button img {
      height: 20px; }

.list-item {
  margin: 0;
  padding: 10px; }

.logout-btn {
  text-decoration: none;
  color: black; }

body {
  background-color: #c2f970; }

.login-container {
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.25);
  padding: 50px;
  margin-top: 15px;
  background-color: white;
  border-radius: 2px; }
  .login-container h1 {
    text-align: center;
    margin-bottom: 10px; }
  .login-container form {
    margin: 0 auto; }

h1 {
  text-align: center;
  font-family: "Raleway", sans-serif;
  padding-bottom: 30px; }

#center {
  margin: 0 auto;
  text-align: center;
  height: 75px;
  font-family: "Lato", sans-serif; }

#splash-img {
  display: block;
  margin: 0 auto;
  height: 350px; }
